<div th:insert="~{header}"></div>

<h1>Formulario de Registro de Cliente</h1>
<div class="container">
	<form th:action="@{/Cliente/guardar} " th:object="${cliente}" method="POST">
		<div class="row">
			<div class="col-md-6">
				<label>nombre del cliente</label>
				<input type="text" th:field="*{nombre}" id="nombre" class="form-control" required>
			</div>
			<div class="col-md-6">
            <label>Direccion del proveedor</label>
				<input type="text" th:field="*{direccion}" id="direccion" class="form-control" required>
			</div>
			
				<div class="row">
			<div class="col-md-6">
				<label>Cedula del cliente</label>
				<input type="number" th:field="*{cedula}" id="cedula" class="form-control" required>
			</div>
			<div class="col-md-6">
            <label>Telefono del proveedor</label>
				<input type="number" th:field="*{telefono}" id="telefono" class="form-control" required>
			</div>
		</div><br><br><br><br>
		<div class="centrarboton">
		<input type="submit" value="Guardar Cliente" class="btn btn-outline-success">
		</div>
	</form>
</div>


<div th:insert="~{footer}"></div>