<div th:insert="~{header}"></div>

<h1>Listado de Cliente</h1>
<div class="container">
	<table class="table table-success">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre Cliente</th>
				<th>Direccion cliente</th>
				<th>Cedula Cliente</th>
				<th>Telefono Cliente</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c:${cliente}">
				<td th:text="${c.id}"></td>
				<td th:text="${c.nombre}"></td>
				<td th:text="${c.direccion}"></td>
				<td th:text="${c.cedula}"></td>
				<td th:text="${c.telefono}"></td>
				<td>
					<!--		<a th:href="|/Proveedor/borrar/${p.id}|"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
					<a th:href="|/Cliente/actualizar/${c.id}|"><i class="fa fa-pencil-square-o"
							aria-hidden="true"></i></a>
					<i th:onclick="borrar('[[${c.id}]]')" class="fa fa-trash" aria-hidden="true"></i>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<script>
	function borrar(id) {
		const swalWithBootstrapButtons = Swal.mixin({
			customClass: {
				confirmButton: "btn btn-success",
				cancelButton: "btn btn-danger"
			},
			buttonsStyling: false
		});
		swalWithBootstrapButtons.fire({
			title: "esta seguro que desea borrar este cliente",
			text: "si se borra no podra recuperar el registro",
			icon: "warning",
			showCancelButton: true,
			confirmButtonText: "borrar cliente!",
			cancelButtonText: "cancelar accion!",
			reverseButtons: true
		}).then((result) => {
			if (result.isConfirmed) {
			      //Redireccion
			   location.href = "/Cliente/borrar/" + id;
			      
			} else if (
				/* Read more about handling dismissals below */
				result.dismiss === Swal.DismissReason.cancel
			) {
				swalWithBootstrapButtons.fire({
					title: "Cancelado",
					text: "el registro no sera borrado :)",
					icon: "error"
				});
			}
		});
	}
</script>
<div th:insert="~{footer}"></div>